*
{box-sizing:border-box}

body
{   
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0,87);
    line-height: 1.8;
    margin: 0;
}

#face, #insta
{
    width: 30px ;
    height: 30px ;
    opacity: 0.8;
}
#face:hover, #insta:hover
{
    opacity: 1;
}

.topbar
{
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding: 31px 87.225px;
    z-index: 3;
}

.topbar nav
{
    float: left;  
}

.topbar .social
{
    float: right;
}

.topbar nav a
{
    color: blue;
    text-decoration: none;
    margin: 0 52.775px;
}

.topbar nav a:hover, .topbar nav a.active
{
    color: green;
    text-decoration: underline;
}

.topbar .social a
{
    padding: 0px 12.4px;
}

p
{
    text-align: justify;
}

.baniere
{
    margin:0;
    padding: 0;
    height: min-content; 
}

.baniere #img1
{
    padding: 0;
    margin: 0;
}



.main
{
    float: left;
    width:calc(100% - 375px);
    background-color: #fff;
    height: 100%;
    padding-left: 100px;
    padding-right: 0px;
    margin: 0;
    margin-top: 0;
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);*/
    position: relative;
}

.article
{
    /*display: flex;*/
    margin-bottom: 100px;
}

.article .lien-image
{
    float: left;
    padding-right: 50px;
    shape-outside: margin-box;
}

.art-image
{
    border: solid 5px lightblue;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 300px;
    height: auto;
}

.main .article .section 
{
    margin: 0;
    padding: 0;
}
.main .art-section h2
{
    font-family: "cursive", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight:lighter;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.main .art-section p
{
    
    margin: 0;
    padding: 0;
    padding-right: 50px;
    font-size: 15px;
}
.main .art-section .date 
{
  margin-top: 10px;  
  text-transform: capitalize;
  opacity: 0.5;  
}

.section
{
    width: 375px;
    background-color: lightgrey;
    float: right;
    padding: 50px;
    padding-top: 0;
    margin-top: 0;
    height: 1000px;
}
h4
{
    text-transform: uppercase;
    font-size: 30px;
    margin: 35px 0px;
    margin-bottom: 15px;
}
.section li
{
    list-style:none;
    font-size: 17px;
    font-variant: small-caps;
    margin: 0;
    padding: 6px 0;
}
.section li:first-child
{
    padding-top:0;
}
.section li:last-child
{
    padding-bottom: 0;
}

.section ul a
{
    color: #9f9f9f;
    text-decoration: none;
    line-height: 2.3;
}
.section li:hover
{
    text-decoration: underline;
    color: #000;
}
.section ul
{
    margin: 0;
    padding: 0;
    padding-left: 6px; 
}

.section hr
{
    border-color: #c4c4c4;
}

.footer
{
    clear: both;
}


.footer
{
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.footer-table
{
    margin: 0;
    padding: 3% 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.footer-body
{
    margin: 0;
    padding-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer-table2
{
    width: 220px;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.footer-table2-table
{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.footer-table2-table-lists
{
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
    max-width: 220px;
}
.footer-table2-table-lists-content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-table2-h4
{
    color: #232323;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-family: Optimistic Display, Helvetica, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.footer-table2-lists-li a
{
    text-decoration: none;
    color: #232323;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
}
.footer-foot
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer-foot-ul
{
    border-top: 1px solid;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}
.meta-2024
{
    text-decoration: none;
    color: #232323;
    font-size: 18px;
    line-height: 20px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.footer-foot-ul-list
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}  
.footer-foot-ul-list, .footer-foot-ul-list a
{
    text-decoration: none;
    color: #232323;
    font-size: 14px;
    line-height: 20px;
    font-family: Optimistic Text, Helvetica, Helvetica Neue, Arial, sans-serif;
}
.footer-foot-ul-list a:hover
{
    opacity: 0.5;
}
.li-li
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

.important
{
    color: red;

}
.surlign
{
    color: blue;
    background-color: lightgrey;
    padding: 0px;
    border-radius: 10%;
}
.h2
{
    color: rgb(195, 159, 228);
    letter-spacing: 5px;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}
.code-form
{
    font-size: 15px;
    color: rgb(104, 104, 155);
}